.initialTitle {
    color: #d017b1;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.cursos {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
  gap: 1.5rem;
}

@media screen and (max-width: 1220px) {

.cursos {
  width: 100%;
  display: flex;
  flex-direction: column;
}

}
