.cards {
    width: 100vh;
    height: 50vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 1px 1px 10px #f87de4;
}

.cardPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImage {
    max-width: 25vh;
    height: auto;
    padding-top: 10px;
    padding-left: 10px;
}

.cardText {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.cardTitle {
    color: #d017b1;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    text-align: center;
}

.cardDescription {
    text-align:justify;
    font-family: sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
}

.cardButton {
       width: 13vh;
       height: 3vh;
       color: #d017b1;
       font-family: sans-serif;
       background-color: #fff;
       border: none;
       text-decoration: underline;
       border-radius: 15px;
}

.cardButton:hover {
    cursor: pointer;
    box-shadow: 1px 1px 6px #434141;
}

@media screen and (max-width: 800px) {

    .cards {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    
    }

@media screen and (max-width: 600px) {

.cardImage {
    max-width: 15vh;
}
}

@media screen and (max-width: 520px) {
    .cardImage {
        max-width: 10vh;
    }

}

@media screen and (max-width: 400px) {
    .cards {
        width: 40vh;
        height: 70vh;
    }
}

