.menuContainer {
    height: 4rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 1rem;
    padding-left: 1px;
    list-style: none;
}

.menuLink {
    text-decoration: none;
    color: #d017b1;
    font-size: 1.5rem;
}

.menuLink:hover {
   color: rgb(30, 183, 235);
   text-decoration: underline;
}

.logo {
    width: 28vh;
}

@media screen and (max-width: 1220px) {
    .menuContainer {
        display: flex;
        flex-direction: column; /* Stack menu items vertically */
        gap: 1rem; /* Reduce the gap between stacked menu items */
        padding-top: 8rem; /* Remove padding to save space */
        width: 100%;
        margin-bottom: 7rem;
    }

    .logo {
        width: 20vh; /* Adjust the logo size for smaller screens */
    }
}